<h2 class="page-header pt-5 text-center text-muted">chat</h2>
  <div #scroller class="card col-sm-12 offset-sm-0 col-md-10 offset-md-1" style="height: 500px; overflow: auto">
    <div id="chatmessages" class="card-block" *ngFor="let text of messagefeed | async">
      <app-message [chatmessage]=text></app-message>
    </div>
  </div>
<form (submit)="onChatmessageSubmit()" class="pt-3">
    <div class="form-group row">
      <input *ngIf="authService.loggedIn()" type="text" [(ngModel)]="chatmessage" autocomplete="off" name="chatmessage" class="form-control text-center col-sm-12 offset-sm-0 col-md-4 offset-md-4 bg-light" id="chatmessageInput" placeholder="enter a chat message">
      <input *ngIf="!authService.loggedIn()" type="text" class="form-control text-center col-sm-12 offset-sm-0 col-md-4 offset-md-4 bg-light" disabled="disabled" placeholder="log in to chat">
    </div>
    <div class="form-group row">
      <button *ngIf="authService.loggedIn()" type="submit" class="col-sm-12 offset-sm-0 col-md-2 offset-md-5 btn btn-light">submit</button>
    </div>
</form>
